:user_configuration

:: Path to Flex SDK
set FLEX_SDK=$(FlexSDK)

:: Path to Android SDK
set ANDROID_SDK=$(AppDir)\Tools\android


:validation
if not exist "%FLEX_SDK%\bin" echo "FLEX_SDK not set"
if not exist "%ANDROID_SDK%\platform-tools" echo "ANDROID_SDK not set"
goto succeed

:succeed
set PATH=%PATH%;%FLEX_SDK%\bin
set PATH=%PATH%;%ANDROID_SDK%\platform-tools